<template>
  <div class="container">
    <h1>Footer section</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsam
      dignissimos, blanditiis architecto doloribus pariatur aliquam veniam,
      iure, odio reiciendis sequi ipsum? Possimus cupiditate sapiente ut magni
      unde obcaecati rem!
    </p>
  </div>
</template>