@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Hind+Madurai&family=Uchen&display=swap");

.font-1 {
  font-family: "Uchen", serif;
}

.font-2 {
  font-family: "Hind Madurai", sans-serif;
}

.font-3 {
  font-family: "Comfortaa", cursive;
}

.module-title {
  font-size: 45px;
  font-family: "Uchen", serif;
  padding: 0px;
  margin: 0px;
}

.module-subtitle {
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.color-1 {
  color: #080708;
}

.color-2 {
  color: #fb9a23;
}

.color-3 {
  color: #ebf38b;
}

.color-4 {
  color: #a42e0e;
}

.color-5 {
  color: #f4f7f5;
}

.bcolor-1 {
  background-color: #080708;
}

.bcolor-2 {
  background-color: #fb9a23;
}

.bcolor-3 {
  background-color: #ebf38b;
}

.bcolor-4 {
  background-color: #a42e0e;
}

.bcolor-5 {
  background-color: #f4f7f5;
}

body {
  background-color: #f4f7f5;
}

.h-zigzag-color-4 {
  background: linear-gradient(-135deg, #a42e0e 10px, transparent 0) 0 5px,
    linear-gradient(135deg, #a42e0e 10px, #fff 0) 0 5px;
  background-color: #a42e0e;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 20px;
}
