<template>
  <div id="link-hero-section">
    <div class="row banner-section align-items-center text-center">
      <div class="banner-items">
        <p class="font-4 color-5 banner-title">
          Start your journey as a creative professional
        </p>
        <p class="font-3 color-5 banner-sub-title">Welcome to JobKendra</p>
        <p class="font-4 color-3 banner-sub-title">Find Out More</p>
      </div>
    </div>
  </div>
</template>


<style lang="scss">
.banner-section {
  height: 75vh;
}

.banner-items {
  padding-top: 1rem;
  @media only screen and (max-width: 800px) {
    padding-top: 5rem;
  }
  margin: auto;
}
.banner-title {
  text-shadow: 1px 1px 2px #ff0000;
  font-size: 43px;
  animation: moveLeft 2s ease-out;

  @media only screen and (max-width: 800px) {
    font-size: 27px;
  }
}

.banner-sub-title {
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 2px #a42e0e;
  animation: moveRight 2s ease-out;
  @media only screen and (max-width: 800px) {
    font-size: 15px;
  }
}

#link-hero-section {
  background-image: url("../../assets/hero.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
</style>
