<template>
    <HeroImage></HeroImage>
    <AboutSection></AboutSection>
    <SignUpSection></SignUpSection>
    <FooterSection></FooterSection>
</template>

<script>
import HeroImage from "./HeroImage"
import AboutSection from "./AboutSection"
import SignUpSection from "./SignUpSection"
import FooterSection from "./FooterSection"

export default {
  name: 'App',
  components: {
    HeroImage,
    AboutSection,
    SignUpSection,
    FooterSection
  }
}
</script>
