<template>
  <div class="container my-4">
    <h1 class="title">About us section</h1>
    <p>
      Our team comprises of enthusiastic, determined and focused individuals
      having holistic approach regarding the problems related to lack to capable
      job opportunities among skillful people. We as a team look forward to
      break and normalize various stereotypical norms of society towards
      part-time jobs among the people of our country
    </p>
  </div>
</template>

<script>
export default {};
</script>
 
 <style lang="scss">
.title {
  text-transform: capitalize;
}
</style>
